
* {
    padding: 0;
    margin: 0;
    cursor: default;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: #525f5f;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container {
    height: 100vh;
    width: 100vw;
    display: flex;
}


/* Game-board styling */
#border-box {
    position: relative;
    top: 41.1px;
    left: 30.1px;
    height: 704px;
    width: 704px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.1rem;
    background-color: rgb(210, 210, 210);
    box-shadow: 0 0 1.8rem 2.3rem rgb(187, 187, 187),  0 0 0.1rem 2.4rem rgb(85, 190, 255);
    transition: box-shadow 0.6s ease-in-out, background-color 0.5s ease-in-out;
}
#border-box.black {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 2rem 2.8rem rgb(0, 0, 0), 0 0 0.1rem 2.4rem rgb(85, 190, 255);
    transition: box-shadow 0.6s ease-in-out, background-color 0.5s ease-in-out;
}
#top-wall {
    position: absolute;
    top: 0;
    height: 32px;
    width: 704px;
    background: linear-gradient(to right, rgba(220, 170, 80, 0.9), rgba(255, 218, 166), rgb(220, 170, 80, 0.9));
    clip-path: polygon(0 0, 32px 32px, 672px 32px, 704px 0);
    display: flex;
    justify-content: center;
    gap: 4.3rem;
}
#left-wall{
    position: absolute;
    left: 0;
    height: 704px;
    width:32px;
    background: linear-gradient(to top, rgba(220, 170, 80, 0.9), rgba(255, 218, 166), rgb(220, 170, 80, 0.9));
    clip-path: polygon(0 0, 32px 32px, 32px 672px, 0 704px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3.55rem;
    align-items: center;
}
#right-wall {
    position: absolute;
    right: 0;
    height: 704px;
    width:32px;
    background: linear-gradient(to top, rgba(120, 70, 4, 0.9), rgba(73, 30, 2), rgba(120, 70, 4, 0.9));
    clip-path: polygon(0 32px, 0 672px, 32px 704px, 32px 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3.55rem;
    align-items: center;
}
#bottom-wall {
    position: absolute;
    bottom: 0;
    height: 32px;
    width: 704px;
    background: linear-gradient(to left, rgba(120, 70, 4, 0.9), rgba(73, 30, 2), rgba(120, 70, 4, 0.9));
    clip-path: polygon(33px -1px, 671.5px -0.5px, 704px 32px, 0 32px);
    display: flex;
    justify-content: center;
    gap: 4.3rem;
    align-items: center;
}

#top-wall span {
    padding-top: 0.5rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 1.2rem;
}
 #left-wall span {
    padding-left: 0.6rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 1.2rem;
 }
#right-wall span {
    padding-right: 0.6rem ;
    color: rgb(219, 219, 219);
    font-weight: 700;
    font-size: 1.2rem;
}
#bottom-wall span {
    padding-bottom: 0.5rem;
    color: rgb(219, 219, 219);
    font-weight: 700;
    font-size: 1.2rem;
}

#game-board {
    height: 640px;
    width: 640px;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    z-index: 2;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
}

.black-box {
    background-color: rgb(106, 49, 2);
    box-shadow: inset 0 0 0.2rem 0.4rem rgba(133, 76, 30, 0.7);
}
.white-box {
    background-color: rgb(245, 219, 188);
    box-shadow: inset 0 0 0.2rem 0.4rem rgba(195, 181, 162, 0.7);
}

.iconB {
    font-size: 3.6rem;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 15px rgb(255, 255, 255);
}
.iconW {
    font-size: 3.6rem;
    color: rgb(220, 220, 220);
    text-shadow: 0 0 15px rgb(0, 0, 0);
}
.small-icon {
    font-size: 2.7rem;
}


.box.active, .box.active .fa-solid{
    cursor: grab;
}
.box.active .fa-solid {
    will-change: transform;
    transform-origin: center;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}
.box.active .fa-solid:hover{
    transform: scale(104%);
    transition: transform 0.2s ease-in-out;
}
.box.select, .box.select .dot, .box.select .fa-solid {
    cursor: pointer;
}




