
* {
    padding: 0;
    margin: 0;
    cursor: default;
}
body {
    background-color: #525f5f;
    overflow-x: hidden;
    overflow-y: scroll;
}
#container {
    height: 100vh;
    display: flex;
}


/* Game-board styling */
#border-box {
    position: fixed;
    left: 42.5vh;
    height: 88vh;
    width: 88vh;
    display: flex;
    flex-wrap: wrap;
    margin-left: 6vh;
    margin-top: 6vh;
    border-radius: 0.2vh;
    background-color: rgb(210, 210, 210);
    box-shadow: 0 0 1.8rem 2.6rem rgb(187, 187, 187), 0 0 0.1rem 2.9rem rgb(0, 91, 155);
    transition: box-shadow 0.6s ease-in-out, background-color 0.5s ease-in-out;
}
#border-box.black {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 2rem 3rem rgb(0, 0, 0), 0 0 0.1rem 2.9rem rgb(125, 205, 255);
    transition: box-shadow 0.6s ease-in-out, background-color 0.5s ease-in-out;
}
#top-wall {
    height: 4vh;
    width: 88vh;
    background: linear-gradient(to right, rgba(220, 170, 80, 0.9), rgba(255, 218, 166, 0.9), rgb(220, 170, 80, 0.9));
    clip-path: polygon(0 0, 4vh 4vh, 84vh 4vh, 88vh 0);
    display: flex;
    justify-content: center;
    gap: 4.3rem;
}
#left-wall{
    position: relative;
    top: -4vh;
    height: 88vh;
    width:4vh;
    background: linear-gradient(to top, rgba(220, 170, 80, 0.9), rgba(255, 218, 166, 0.9), rgb(220, 170, 80, 0.9));
    clip-path: polygon(0 0, 4vh 4vh, 4vh 84vh, 0 88vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3.55rem;
    align-items: center;
}
#right-wall {
    position: relative;
    top: -4vh;
    height: 88vh;
    width:4vh;
    background: linear-gradient(to top, rgba(120, 70, 4, 0.9), rgba(73, 30, 2, 0.9), rgba(120, 70, 4, 0.9));
    clip-path: polygon(0 4vh, 0 84vh, 4vh 88vh, 4vh 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3.55rem;
    align-items: center;
}
#bottom-wall {
    position: relative;
    top: -8vh;
    height: 4vh;
    width: 88vh;
    background: linear-gradient(to left, rgba(120, 70, 4, 0.9), rgba(73, 30, 2, 0.9), rgba(120, 70, 4, 0.9));
    clip-path: polygon(4vh 0, 84vh 0vh, 88vh 4vh, 0vh 4vh);
    display: flex;
    justify-content: center;
    gap: 4.3rem;
    align-items: center;
}

#top-wall span {
    padding-top: 0.5rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 1.2rem;
}
 #left-wall span {
    padding-left: 0.6rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 1.2rem;
 }
#right-wall span {
    padding-right: 0.6rem ;
    color: rgb(219, 219, 219);
    font-weight: 700;
    font-size: 1.2rem;
}
#bottom-wall span {
    padding-bottom: 0.5rem;
    color: rgb(219, 219, 219);
    font-weight: 700;
    font-size: 1.2rem;
}

#game-board {
    height: 80vh;
    width: 80vh;
    display: flex;
    flex-wrap: wrap;
}

.box {
    z-index: 2;
    height: 10vh;
    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vh;
}

.black-box {
    background-color: rgb(106, 49, 2);
    box-shadow: inset 0 0 0.2rem 0.3rem rgba(133, 76, 30, 0.7);
}
.white-box {
    background-color: rgb(245, 219, 188);
    box-shadow: inset 0 0 0.2rem 0.3rem rgba(195, 181, 162, 0.7);
}

.iconB {
    font-size: 3.6rem;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 15px rgb(255, 255, 255);
}
.iconW {
    font-size: 3.6rem;
    color: rgb(220, 220, 220);
    text-shadow: 0 0 15px rgb(0, 0, 0);
}
.small-icon {
    font-size: 2.7rem;
}





