
.right-panel {
    position:fixed;
    z-index: 10;
    align-self: center;
    bottom: 0.25vh;
    right: 0.25vh;
    height: 99.5vh;
    width: 52vh;
    background-color: #001528;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* display: none; */
}

.title {
    z-index: 22;
    width:20rem;
    margin-top: 0.25rem;
    font-family: 'Lobster', cursive;
    font-size: 3.5rem;
    letter-spacing: 0.8rem;
    color: rgb(180, 180, 180);
    text-align: center;
    text-shadow: 
        0px 0px 1px rgb(180, 180, 180),
        1px 1px 1px rgb(160, 160, 160),
        2px 2px 1px rgb(140, 140, 140),
        3px 3px 1px rgb(120, 120, 120),
        4px 4px 1px rgb(100, 100, 100),
        5px 5px 1px rgb(80, 80, 80);
    border-bottom: 3px solid rgb(160, 160, 160);
}

.right-panel-content {
    z-index: 11;
    position: fixed;
    bottom: 1.25vh;
    height: 63.5vh;
    width: 51vh;
    border-radius: 0.2rem;
    background-color: #001528;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 1s ease 0.1s;
}
.right-panel-content.promotion {
    height: 88vh;
    transition: height 0.8s ease;
}
.promotion-modal {
    z-index: 12;
    margin-top: 1.1vh;
    height: 21.7vh;
    width: 34.2vh;
    background-color: rgba(160, 160, 160);
    border-radius: 0.7rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    transform: scale(0.9);
    transition: transform 2s ease 0.1s, background-color 2s ease 1s;
}
.right-panel-content.promotion .promotion-modal{
    background-color: rgb(124, 230, 120);
    box-shadow: 2px -1px 12px 3px rgb(29, 29, 29), inset 2px -2px 7px 5px rgb(177, 249, 176);
    transform: scale(1);
    transition: transform 1s ease, background-color 1s ease ;
}
.promotion-piece-boxes {
    height: 10vh;
    width: 10vh;
    border-radius: 0.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pocket {
    position: absolute;
    z-index: 15;
    bottom: 23vh;
    height: 37vh;
    width: 20rem;
    background-color: #001528;
    border-top: 3.5px solid rgb(160, 160, 160);
}

.contents {
    position: absolute;
    bottom: 0vh;
    z-index: 16;
    height: 60vh;
    width: 100%;
    /* background-color: rgba(58, 91, 149, 0.5); */
    display: flex;
    flex-direction: column;
}

.controls {
    margin: 1.5vh 0 1.5vh 0;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12.5rem;
    /* background-color: rgba(58, 91, 149, 0.5); */
}
.undo, .redo {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    margin-top: 0.5vh;
    height: 5vh;
    width: 5vh;
    background-color: #525f5f;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    transition: background-color 0.5s ease;
}
.undo.allow, .redo.allow {
    background-color: #a2b3b3;
}
.undo.allow, .undo.allow i, .redo.allow, .redo.allow i {
    cursor: pointer;
}
.undo.allow:hover, .redo.allow:hover {
    background-color: #c0d2d2;
    transform: scale(1.03);
    transition: transform, background-color 0.3s ease;
}
.undo.allow:active, .redo.allow:active {
    animation: clicked 0.3s ease ;
}
@keyframes clicked {
    0%{
        transform: scale(1);
        background-color: #a2b3b3;
    }
    100%{
        transform: scale(1);
        background-color: #a2b3b3;
    }
}

.counter-box {
    position: absolute;
    align-self: center;
    height: 6vh;
    max-width: 18vh;
    background-color: #a2afaf;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 0.8rem;
}
.counter-box span {
    height: 5vh;
    width: 8vh;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    text-align: center;
}
.counter {
    height: 6vh;
    min-width: 4vh;
    max-width: 8vh;
    background-color: #848989;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    font-size: 1.25rem;
    padding: 0 0.75rem 0 0.75rem;
    border-radius: 0.8rem;
    scrollbar-width:none;
}

#videos-container {
    position: relative;
    height: 55vh;
    width: 100%;
    /* background-color: #92989b; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#video-box-1, #video-box-2 {
    position: absolute;
    height: auto;
    width: 100%;
    height: 55%;
    /* background-color: #324e7b; */
    display: flex;
    justify-content: center;
}
#video-box-1 {
    top: 0;
    /* clip-path: path('M 0 0 H 400 V 180 H 260 L 240 202 H 0 Z'); */
}
#video-box-1 object {
    position: absolute;
    top: 0;
    left: 1.5vh;
    z-index: 1;
    width: 92.2%;
    /* transform: scaleX(1.06); */
    transition: opacity 0.3s ease-in-out;
    opacity: 80%;
}
#video-box-2 {
    bottom: 0;
    /* clip-path: path('M 0 50 H 250 L 270 28 H 365 V 230 H 0 Z'); */
}
#video-box-2 object {
    position: absolute;
    left: 1.5vh;
    bottom: 0;
    z-index: 1;
    width: 96%;
    /* transform: scaleX(1.06); */
    transition: opacity 0.3s ease-in-out;
    opacity: 80%;
}

#video-border-1, #video-border-2 {
    position: absolute;
    z-index: 5;
    height: 76%;
    width: 87%;
    left: 1.5rem;
    background-color: black;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#video-border-1 {
    top: 1vh;
}
#video-border-2 {
    bottom: 1vh;
}
#video-1, #video-2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    object-fit:cover;
    transform: scaleX(-1);
    /* background-color: aqua; */
}

.video-controls {
    position: absolute;
    z-index: 10;
    top: 0.75rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.play-vid {
    height: 1.7rem;
    width: 1.9rem;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    color: #001528;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    opacity: 100%;
    transition: opacity 0.3s ease-in-out;
}
.play-vid.vid-on {
    color: rgba(155, 0, 0, 0.7);
    opacity: 20%;
    transition: opacity 0.3s ease-in-out;
}
.play-aud {
    height: 2rem;
    width: 2rem;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem;
    color: #001528;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 100%;
    transition: opacity 0.3s ease-in-out;
}
.play-aud.vid-on {
    opacity: 20%;
    transition: opacity 0.3s ease-in-out;
}
.play-aud.on {
    color: rgba(155, 0, 0, 0.7);
}
#video-box-1 .play-aud img {
    width: 70%;
}

#player-name-1 {
    position: absolute;
    z-index: 5;
    bottom: 1.25vh;
    left: 1.75rem;
    height: 2.2rem;
    width: 13.75rem;
    /* background-color: aliceblue; */
    text-align: center;
    font-size: 1.25rem;
    line-height: 2.2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 450;
    color: #001528;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    white-space: nowrap;
}
#player-name-2 {
    position: absolute;
    z-index: 5;
    top: 1.2vh;
    right: 1.25rem;
    height: 2.2rem;
    width: 6rem;
    /* background-color: aliceblue; */
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #001528;
}

#video-box-1:hover object, #video-box-2:hover object{
    opacity: 100%;
    transition: opacity 0.3s ease-in-out;
}

#video-box-1:hover .play-vid.vid-on, #video-box-1:hover .play-aud.vid-on, #video-box-2:hover .play-vid.vid-on,#video-box-2:hover .play-aud.vid-on {
    opacity: 60%;
    transition: opacity 0.3s ease-in-out;
}
#video-box-1 .play-vid:hover, #video-box-1 .play-aud:hover, #video-box-2 .play-vid:hover, #video-box-2 .play-aud:hover{
    transform: scale(1.07);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
#video-box-1 .play-vid.vid-on:hover, #video-box-1 .play-aud.vid-on:hover, #video-box-2 .play-vid.vid-on:hover, #video-box-2 .play-aud.vid-on:hover{
    opacity: 90%;
    transform: scale(1.07);
    transition: opacity,transform 0.2s ease-in-out;
    cursor: pointer;
}
#video-box-1 .play-vid:hover i, #video-box-1 .play-aud:hover img, #video-box-2 .play-vid:hover i, #video-box-2 .play-aud:hover i {
    cursor: pointer;
}

