
.right-panel {
    position:fixed;
    z-index: 10;
    align-self: center;
    bottom: 0.25vh;
    right: 0.25vh;
    height: 99.5vh;
    width: 52vh;
    background-color: #001528;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* display: none; */
}

.title {
    z-index: 22;
    width:20rem;
    margin-top: 0.25rem;
    font-family: 'Lobster', cursive;
    font-size: 3.5rem;
    letter-spacing: 0.8rem;
    color: rgb(180, 180, 180);
    text-align: center;
    text-shadow: 
        0px 0px 1px rgb(180, 180, 180),
        1px 1px 1px rgb(160, 160, 160),
        2px 2px 1px rgb(140, 140, 140),
        3px 3px 1px rgb(120, 120, 120),
        4px 4px 1px rgb(100, 100, 100),
        5px 5px 1px rgb(80, 80, 80);
    border-bottom: 3px solid rgb(160, 160, 160);
}

.right-panel-content {
    z-index: 11;
    position: fixed;
    bottom: 1.25vh;
    height: 63.5vh;
    width: 49vh;
    border-radius: 0.2rem;
    background-color: #001528;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 1s ease 0.1s;
}
.right-panel-content.promotion {
    height: 88vh;
    transition: height 0.8s ease;
}
.promotion-modal {
    z-index: 12;
    margin-top: 1vh;
    height: 21.7vh;
    width: 34.2vh;
    background-color: rgba(160, 160, 160);
    border-radius: 0.7rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    transform: scale(0.9);
    transition: transform 2s ease 0.1s, background-color 2s ease 1s;
}
.right-panel-content.promotion .promotion-modal{
    background-color: rgb(124, 230, 120);
    box-shadow: 2px -1px 12px 3px rgb(29, 29, 29), inset 2px -2px 7px 5px rgb(177, 249, 176);
    transform: scale(1);
    transition: transform 1s ease, background-color 1s ease ;
}
.promotion-piece-boxes {
    height: 10vh;
    width: 10vh;
    border-radius: 0.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pocket {
    position: absolute;
    z-index: 15;
    bottom: 23vh;
    height: 37vh;
    width: 20rem;
    background-color: #001528;
    border-top: 3.5px solid rgb(160, 160, 160);
}

.contents {
    position: absolute;
    bottom: 0vh;
    z-index: 16;
    height: 60vh;
    width: 100%;
    /* background-color: rgba(58, 91, 149, 0.5); */
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12rem;
}

.undo, .redo {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    margin-top: 2vh;
    height: 5vh;
    width: 5vh;
    background-color: #525f5f;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
}
.undo.allow, .redo.allow {
    background-color: #a2b3b3;
}
.undo.allow, .undo.allow i, .redo.allow, .redo.allow i:hover {
    cursor: pointer;
}
.undo.allow:hover, .redo.allow:hover {
    background-color: #c0d2d2;
    transform: scale(1.03);
    transition: transform, background-color 0.3s ease;
}
.undo.allow:active, .redo.allow:active {
    animation: clicked 0.3s ease ;
}
@keyframes clicked {
    0%{
        transform: scale(1);
        background-color: #a2b3b3;
    }
    100%{
        transform: scale(1);
        background-color: #a2b3b3;
    }
}

.counter-box {
    position: absolute;
    margin-top: 1.5vh;
    height: 6vh;
    max-width: 18vh;
    background-color: #a2afaf;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 0.8rem;
}
.counter-box span {
    height: 5vh;
    width: 8vh;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    text-align: center;
}
.counter {
    height: 6vh;
    min-width: 4vh;
    max-width: 8vh;
    background-color: #848989;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    font-size: 1.25rem;
    padding: 0 0.75rem 0 0.75rem;
    border-radius: 0.8rem;
    scrollbar-width:none;
}

#camera-container {
    position: absolute;
    top: 8.8vh;
    height: 50vh;
    width: 98%;
    background-color: #264058;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    border: 5px solid #264058;
    border-radius: 0.5rem;
}
#camera-box-1, #camera-box-2 {
    height: 48%;
    width: 98%;
    background-color: #000000;
    border-radius: 0.4rem;
}
#camera-1, #camera-2 {
    height: 100%;
    width:max-content;
    object-fit:cover;
    background-color: rgb(0, 0, 0);
    transform: scaleX(-1);
    border-radius: 0.4rem;
}
