

.black-box.glow {
    z-index: 4;
    box-shadow: inset 0 0 33px rgb(0, 234, 255);
}
.white-box.glow {
    z-index: 4;
    box-shadow: inset 0 0 30px rgb(8, 168, 183);
}

.black-box.grey {
    z-index: 4;
    box-shadow: inset 0 0 30px rgb(2, 112, 134);
}
.white-box.grey {
    z-index: 4;
    box-shadow: inset 0 0 25px rgba(1, 65, 71, 0.812);
}

.black-box .dot {
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    background-color: rgba(188, 137, 96, 0.4);
}
.white-box .dot {
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    background-color: rgba(150, 133, 106, 0.4);
}

.black-box.red-shade {
    z-index: 3;
    /* background-color: rgb(178, 1, 1); */
    box-shadow: inset 0 0 70px rgb(255, 70, 70);
    animation: pulse-black 2s ease-in-out 2s 12;
}
.white-box.red-shade {
    z-index: 3;
    box-shadow: inset 0 0 70px rgb(255, 70, 70);
    animation: pulse-white 2s ease-in-out 2s 12;
}

.black-box.promotion-glow.kill-box {
    z-index: 3;
    box-shadow: inset 0 0 30px rgb(85, 255, 75);
    animation: pulse-black 3s ease-in-out 1s infinite;
}
@keyframes pulse-black {
  40% {
    /* background-color: rgba(237, 27, 27, 0.8); */
    z-index: 4;
    box-shadow: 0 0 10px rgba(237, 27, 27);
    box-shadow: inset 0 0 70px rgb(255, 0, 0);
  }
}
.white-box.promotion-glow.kill-box {
    z-index: 3;
    box-shadow: inset 0 0 30px rgb(75, 255, 60);
    animation: pulse-white 3s ease-in-out 1s infinite;
}
@keyframes pulse-white {
  40% {
    z-index: 4;
    box-shadow: 0 0 20px rgb(255, 0, 0);
    box-shadow: inset 0 0 70px rgb(255, 0, 0);
  }
}

.black-box.promotion-glow {
    z-index: 3;
    box-shadow: inset 0 0 35px rgb(85, 255, 75);
}
.white-box.promotion-glow {
    z-index: 3;
    box-shadow: inset 0 0 35px rgb(75, 255, 60);
}
.castle-glow {
    z-index: 3;
    box-shadow: inset 0 0 50px rgb(226, 11, 254);
}


.promotion-piece-boxes {
    height: 10vh;
    width: 10vh;
    border-radius: 0.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.promotion-piece-boxes.black {
    background-color: rgb(147, 69, 6);
    box-shadow: inset 0 0 0.2rem 0.3rem rgba(133, 76, 30, 0.8), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    animation: toggle-white 8s ease-in-out 1s infinite;
}
@keyframes toggle-black{
    15%{
        background-color: rgb(237, 188, 128);
        box-shadow: inset 0 0 0.2rem 0.3rem rgba(195, 181, 162, 0.7), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    }
    35%{
        background-color: rgb(147, 69, 6);
        box-shadow: inset 0 0 0.2rem 0.3rem rgba(133, 76, 30, 0.8), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    }
    65%{
        background-color: rgb(147, 69, 6);
        box-shadow: inset 0 0 0.2rem 0.3rem rgba(133, 76, 30, 0.8), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    }
    85%{
        background-color: rgb(237, 188, 128);
        box-shadow: inset 0 0 0.2rem 0.3rem rgba(195, 181, 162, 0.7), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    }
}
.promotion-piece-boxes.white {
    background-color: rgb(237, 188, 128);
    box-shadow: inset 0 0 0.2rem 0.3rem rgba(195, 181, 162, 0.7), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    animation: toggle-black 8s ease-in-out 1s infinite;
}
@keyframes toggle-white{
    20%{
        background-color: rgb(147, 69, 6);
        box-shadow: inset 0 0 0.2rem 0.3rem rgba(133, 76, 30, 0.8), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    }
    30%{
        background-color: rgb(237, 188, 128);
        box-shadow: inset 0 0 0.2rem 0.3rem rgba(195, 181, 162, 0.7), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    }
    70%{
        background-color: rgb(237, 188, 128);
        box-shadow: inset 0 0 0.2rem 0.3rem rgba(195, 181, 162, 0.7), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    }
    80%{
        background-color: rgb(147, 69, 6);
        box-shadow: inset 0 0 0.2rem 0.3rem rgba(133, 76, 30, 0.8), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    }
}

.box.active, .box.active .fa-solid:hover{
    cursor: grab;
}
.promotion-piece-boxes .fa-solid:hover {
    cursor: pointer;
}
.box.select, .box.select .dot, .box.select .fa-solid:hover{
    cursor: pointer;
}