

.black-box.glow {
    z-index: 4;
    box-shadow: inset 0 0 33px rgb(0, 234, 255);
}
.white-box.glow {
    z-index: 4;
    box-shadow: inset 0 0 30px rgb(8, 168, 183);
}

.black-box.grey {
    z-index: 4;
    box-shadow: inset 0 0 30px rgb(2, 112, 134);
}
.white-box.grey {
    z-index: 4;
    box-shadow: inset 0 0 25px rgba(1, 65, 71, 0.812);
}

.black-box .dot {
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    background-color: rgba(188, 137, 96, 0.35);
    transition: background-color 0.2s ease;
}
.white-box .dot {
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    background-color: rgba(150, 133, 106, 0.35);
    transition: background-color 0.2s ease;
}

.black-box.red-shade {
    z-index: 3;
    box-shadow: inset 0 0 70px rgb(255, 70, 70);
    transition: box-shadow 0.4s ease;
    animation: pulse-black 2s ease-in-out 2s 12;
}
.white-box.red-shade {
    z-index: 3;
    box-shadow: inset 0 0 70px rgb(255, 70, 70);
    transition: box-shadow 0.4s ease;
    animation: pulse-white 2s ease-in-out 2s 12;
}

.black-box.red-shade-king {
    z-index: 3;
    box-shadow: inset 0 0 70px rgb(200, 10, 10);
    transition: box-shadow 0.4s ease;
    animation: pulse-black 0.35s ease-in-out 0s 3;
}
.white-box.red-shade-king {
    z-index: 3;
    box-shadow: inset 0 0 70px rgb(200, 10, 10);
    transition: box-shadow 0.4s ease;
    animation: pulse-white 0.35s ease-in-out 0s 3;
}

@keyframes pulse-black {
  40% {
    z-index: 4;
    box-shadow:inset 0 0 70px rgb(255, 0, 0);
  }
}
@keyframes pulse-white {
  40% {
    z-index: 4;
    box-shadow:inset 0 0 70px rgb(255, 0, 0);
  }
}

.black-box.promotion-glow {
    z-index: 3;
    box-shadow: inset 0 0 40px rgb(85, 255, 75);
    transition: box-shadow 0.4s ease;
}
.white-box.promotion-glow {
    z-index: 3;
    box-shadow: inset 0 0 40px rgb(75, 255, 60);
    transition: box-shadow 0.4s ease;
}
.castle-glow {
    z-index: 3;
    box-shadow: inset 0 0 50px rgb(226, 11, 254);
    transition: box-shadow 0.4s ease;
}


.promotion-piece-boxes.black {
    background-color: rgb(106, 49, 2);
    box-shadow: inset 0 0 0.2rem 0.4rem rgba(133, 76, 30, 0.8), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    animation: toggle-white 8s ease-in-out 1s infinite;
}
@keyframes toggle-black{
    20%{
        background-color: rgb(233, 188, 133);
        box-shadow: inset 0 0 0.2rem 0.4rem rgba(199, 172, 134, 0.7), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    }
    30%{
        background-color: rgb(106, 49, 2);
        box-shadow: inset 0 0 0.2rem 0.4rem rgba(133, 76, 30, 0.8), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    }
    70%{
        background-color: rgb(106, 49, 2);
        box-shadow: inset 0 0 0.2rem 0.4rem rgba(133, 76, 30, 0.8), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    }
    80%{
        background-color: rgb(233, 188, 133);
        box-shadow: inset 0 0 0.2rem 0.4rem rgba(199, 172, 134, 0.7), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    }
}
.promotion-piece-boxes.white {
    background-color: rgb(233, 188, 133);
    box-shadow: inset 0 0 0.2rem 0.4rem rgba(199, 172, 134, 0.7), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    animation: toggle-black 8s ease-in-out 1s infinite;
}
@keyframes toggle-white{
    20%{
        background-color: rgb(106, 49, 2);
        box-shadow: inset 0 0 0.2rem 0.4rem rgba(133, 76, 30, 0.8), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    }
    30%{
        background-color: rgb(233, 188, 133);
        box-shadow: inset 0 0 0.2rem 0.4rem rgba(199, 172, 134, 0.7), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    }
    70%{
        background-color: rgb(233, 188, 133);
        box-shadow: inset 0 0 0.2rem 0.4rem rgba(199, 172, 134, 0.7), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    }
    80%{
        background-color: rgb(106, 49, 2);
        box-shadow: inset 0 0 0.2rem 0.4rem rgba(133, 76, 30, 0.8), 2px -1px 10px 1px rgba(100, 100, 100, 0.815);
    }
}
.promotion-piece-boxes {
    filter: brightness(1);
    transform: scale(1);
    transform-origin: center;
    will-change: transform;
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}
.promotion-piece-boxes:hover {
    filter: brightness(1.05);
    transition: filter 0.2s ease-in-out;
}
.promotion-piece-boxes:hover i {
    transform: scale(1.04);
    transition: transform 0.2s ease-in-out;
}
.promotion-piece-boxes i {
    will-change: transform;
    transform-origin: center;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}
.promotion-modal:hover .promotion-piece-boxes{
    animation-play-state: paused;
}
.right-panel-content.promotion .promotion-modal:hover {
    filter: brightness(1.15);
    transition: filter 0.3s ease-in-out;
}
.promotion-piece-boxes, .promotion-piece-boxes .fa-solid {
    cursor: pointer;
}