* {
    padding: 0;
    margin: 0;
    cursor: default;
}
body {
    background-color: #525f5f;
    overflow-x: hidden;
    overflow-y: scroll;
}
#container {
    height: 100vh;
    display: flex;
}


/* Game-board styling */
#border-box {
    position: fixed;
    left: 42.5vh;
    height: 88vh;
    width: 88vh;
    display: flex;
    flex-wrap: wrap;
    margin-left: 6vh;
    margin-top: 6vh;
    border-radius: 0.2vh;
    background-color: rgb(210, 210, 210);
    box-shadow: 0 0 1.8rem 2.6rem rgba(210, 210, 210), 0 0 0.1rem 2.9rem rgb(0, 91, 155);
    transition: box-shadow 0.8s ease-in-out;
}
#border-box.black {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 2rem 3rem rgb(0, 0, 0), 0 0 0.1rem 2.9rem rgb(125, 205, 255);
    transition: box-shadow 0.8s ease-in-out;
}
#top-wall {
    height: 4vh;
    width: 88vh;
    background: linear-gradient(to right, rgba(220, 170, 80, 0.9), rgba(255, 218, 166, 0.7), rgb(220, 170, 80, 0.9));
    clip-path: polygon(0 0, 4vh 4vh, 84vh 4vh, 88vh 0);
    display: flex;
    justify-content: center;
    gap: 4.3rem;
}
#left-wall{
    position: relative;
    top: -4vh;
    height: 88vh;
    width:4vh;
    background: linear-gradient(to top, rgba(220, 170, 80, 0.9), rgba(255, 218, 166, 0.7), rgb(220, 170, 80, 0.9));
    clip-path: polygon(0 0, 4vh 4vh, 4vh 84vh, 0 88vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3.55rem;
    align-items: center;
}
#right-wall {
    position: relative;
    top: -4vh;
    height: 88vh;
    width:4vh;
    background: linear-gradient(to top, rgba(129, 74, 2, 0.9), rgba(73, 40, 2, 0.7), rgba(120, 70, 4, 0.9));
    clip-path: polygon(0 4vh, 0 84vh, 4vh 88vh, 4vh 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3.55rem;
    align-items: center;
}
#bottom-wall {
    position: relative;
    top: -8vh;
    height: 4vh;
    width: 88vh;
    background: linear-gradient(to left, rgba(120, 70, 4, 0.9), rgba(73, 40, 2, 0.7), rgba(120, 70, 4, 0.9));
    clip-path: polygon(4vh 0, 84vh 0vh, 88vh 4vh, 0vh 4vh);
    display: flex;
    justify-content: center;
    gap: 4.3rem;
    align-items: center;
}

#top-wall span {
    padding-top: 0.5rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 1.2rem;
}
 #left-wall span {
    padding-left: 0.6rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 1.2rem;
 }
#right-wall span {
    padding-right: 0.6rem ;
    color: rgb(219, 219, 219);
    font-weight: 700;
    font-size: 1.2rem;
}
#bottom-wall span {
    padding-bottom: 0.5rem;
    color: rgb(219, 219, 219);
    font-weight: 700;
    font-size: 1.2rem;
}

#game-board {
    height: 80vh;
    width: 80vh;
    display: flex;
    flex-wrap: wrap;
}

.box {
    z-index: 2;
    height: 10vh;
    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-box {
    background-color: rgb(106, 49, 2);
    box-shadow: inset 0 0 0.2rem 0.3rem rgba(133, 76, 30, 0.7);
    border-radius: 0.3vh;
}
.white-box {
    background-color: rgb(245, 219, 188);
    box-shadow: inset 0 0 0.2rem 0.3rem rgba(195, 181, 162, 0.7);
    border-radius: 0.3vh;
}

.iconB {
    font-size: 3.6rem;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 15px rgb(255, 255, 255);
}
.iconW {
    font-size: 3.6rem;
    color: rgb(220, 220, 220);
    text-shadow: 0 0 15px rgb(0, 0, 0);
}
.small-icon {
    font-size: 2.7rem;
}


/* Left-panel-styling */
.left-panel {
    position: fixed;
    height: 96vh;
    width: 42.6vh;
    align-self: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.left-panel .upper,.lower {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.left-panel .upper .whites-captured {
    position: relative;
    z-index: 5;
    height: 47vh;
    width: 40vh;
    background-color: rgb(30, 30, 30);
    border-radius: 0.8rem;
    display: flex;
    flex-wrap: wrap;
}
.left-panel .lower .blacks-captured{
    position: relative;
    z-index: 5;
    height: 47vh;
    width: 40vh;
    background-color: rgb(200, 200, 200);;
    border-radius: 0.8rem;
    display: flex;
    flex-wrap: wrap;
}

.captured-queen-box {
    position: absolute;
    top: 1.5rem;
    left: 0.8rem;
    height: 10vh;
    width: 17vh;
    display: flex;
    align-items: baseline;
    gap: 0.8rem;
}
.captured-rook-box {
    position: absolute;
    top: 11.5rem;
    left: 1.5rem;
    height: 10vh;
    width: 17vh;
    display: flex;
    align-items: baseline;
    gap: 0.8rem;
}
.captured-knight-box {
    position: absolute;
    top: 7.5rem;
    left: 6.5rem;
    height: 10vh;
    width: 17vh;
    display: flex;
    align-items: baseline;
    gap: 0.8rem;
}
.captured-bishop-box {
    position: absolute;
    top: 3.5rem;
    left: 11.5rem;
    height: 10vh;
    width: 17vh;
    display: flex;
    align-items: baseline;
    gap: 0.8rem;
}
.captured-pawn-box {
    position: absolute;
    top: 14.5rem;
    left: 12rem;
    height: 10vh;
    width: 17vh;
    display: flex;
    color: linear-gradient(to left, red, black);
    align-items: baseline;
    gap: 0.8rem;
}

.whites-captured-box .iconW {
    color: rgba(220, 220, 220, 0.7);
    text-shadow: none;
}
.whites-captured-box .iconW.on {
    color: rgb(220, 220, 220);
    text-shadow: 0 0 0.7rem rgba(220, 220, 220, 0.8);
}
.blacks-captured-box .iconB {
    color: rgba(0, 0, 0, 0.7);
    text-shadow: none;
}
.blacks-captured-box .iconB.on {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 0.7rem rgba(0, 0, 0,0.8);
}

.count-box-whites {
    position: relative;
    right: 0.9rem;
    height: 2.2rem;
    width: 2.5rem;
    background-color: rgb(128, 128, 128);
    color: rgb(225, 225, 225);
    font-size: 1.6rem;
    font-weight: 600;
    font-family:sans-serif;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.count-box-blacks {
    position: relative;
    right: 0.9rem;
    height: 2.2rem;
    width: 2.5rem;
    background-color: rgb(163, 163, 163);
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    font-weight: 600;
    font-family:sans-serif;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seperating-line-1 {
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
    z-index: 6;
}
.seperating-line-2 {
    position: absolute;
    top: 7.9rem;
    left: 6.1rem;
    z-index: 6;
}

.left-panel-upper-text {
    z-index: 6;
    position: absolute;
    top: 19rem;
    color:  rgba(30, 30, 30);
    font-size: 1.3rem;
    font-weight: 600;
    background-color: rgb(160, 160, 160);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.9rem;
    word-spacing: 0.4rem;
}
.left-panel-upper-text .color-captured {
    position: absolute;
    top: -2.5rem;
    left: -0.7rem;
    color: rgba(255, 255, 255, 0.95); 
    font-size: 2rem; 
    letter-spacing: 0.1rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 1000;
}
.left-panel-lower-text {
    z-index: 6;
    position: absolute;
    top: 19rem;
    color: rgba(200, 200, 200);
    font-size: 1.3rem;
    font-weight: 600;
    background-color: rgb(110, 110, 110);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.9rem;
    word-spacing: 0.4rem;
}
.left-panel-lower-text .color-captured {
    position: absolute;
    top: -2.5rem;
    left: -0.7rem;
    color: rgba(0, 0, 0, 0.9); 
    font-size: 2rem; 
    letter-spacing: 0.1rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 1000;
}


/* Right-panel styling */
.right-panel {
    position:fixed;
    z-index: 10;
    align-self: center;
    bottom: 0.5vh;
    right: 0.5vh;
    height: 99vh;
    width: 49vh;
    background-color: #001528e1;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    z-index: 22;
    width:20rem;
    margin-top: 0.5rem;
    font-family: 'Lobster', cursive;
    font-size: 3.5rem;
    letter-spacing: 0.8rem;
    color: rgb(180, 180, 180);
    text-align: center;
    text-shadow: 
        0px 0px 1px rgb(180, 180, 180),
        1px 1px 1px rgb(160, 160, 160),
        2px 2px 1px rgb(140, 140, 140),
        3px 3px 1px rgb(120, 120, 120),
        4px 4px 1px rgb(100, 100, 100),
        5px 5px 1px rgb(80, 80, 80);
    border-bottom: 4px solid rgb(160, 160, 160);
}

.right-panel-content {
    z-index: 11;
    position: fixed;
    bottom: 2vh;
    height: 60.5vh;
    width: 46vh;
    border-radius: 0.5rem;
    background-color: #264058;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 1s ease;
}
.right-panel-content.promotion {
    height: 85vh;
    transition: height 0.8s ease;
}
.promotion-modal {
    z-index: 12;
    margin-top: 1vh;
    height: 21.7vh;
    width: 34.2vh;
    background-color: rgba(124, 230, 120, 0.5);
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    transform: scale(0.9);
    transition: transform 2s ease, background-color 2s ease 1s;
}
.right-panel-content.promotion .promotion-modal{
    background-color: rgb(124, 230, 120);
    box-shadow: 2px 4px 16px rgb(109, 200, 112);
    transform: scale(1);
    transition: transform 1s ease, background-color 1s ease ;
}

.pocket {
    position: absolute;
    z-index: 15;
    bottom: 20vh;
    height: 37vh;
    width: 20rem;
    background-color: #264058;
    border-top: 4px solid rgb(160, 160, 160);
}
.contents {
    position: absolute;
    bottom: 0vh;
    z-index: 16;
    height: 57vh;
    width: 100%;
    /* background-color: rgba(58, 91, 149, 0.5); */
    border-radius: 0.5rem;
}